**/target
**/.gradle
**/.idea
**/build
gen
**/.DS_Store
*.iml
out/**
*.iws
.pmdCache
gradle.lockfile
settings-gradle.lockfile

# VS Code ignores
.vscode
bin
.metals
.bloop
.project
.classpath
.settings
bin/
