name: Release

on:
  schedule:
    # 2 AM on Sunday
    - cron: "0 2 * * 0"
  workflow_dispatch:

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  isthmus-native-image-mac-linux:
    name: Build Isthmus Native Image
    if: github.repository == 'substrait-io/substrait-java'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: "17"
          distribution: "graalvm"
          # helps avoid rate-limiting issues
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Report Java Version
        run: java -version
      - name: Install GraalVM native image
        run: gu install native-image
      - name: Build with Gradle
        run: |
          # fetch submodule tags since actions/checkout@v4 does not
          git submodule foreach 'git fetch --unshallow || true'

          ./gradlew nativeImage
      - name: Smoke Test
        run: |
          ./isthmus-cli/src/test/script/smoke.sh
          ./isthmus-cli/src/test/script/tpch_smoke.sh
      - name: Rename the artifact to OS-unique name
        shell: bash
        run: |
          value=`mv isthmus-cli/build/graal/isthmus isthmus-cli/build/graal/isthmus-${{ matrix.os }}`
      - name: Publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: isthmus-${{ matrix.os }}
          path: isthmus-cli/build/graal/isthmus-${{ matrix.os }}
  semantic-release:
    if: github.repository == 'substrait-io/substrait-java'
    runs-on: ubuntu-latest
    needs: isthmus-native-image-mac-linux
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Download isthmus-ubuntu-latest binary
        uses: actions/download-artifact@v5
        with:
          name: isthmus-ubuntu-latest
          path: native/libs
      - name: Download isthmus-macOS-latest binary
        uses: actions/download-artifact@v5
        with:
          name: isthmus-macOS-latest
          path: native/libs
      - name: Run semantic-release
        run: ./ci/release/run.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USER }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_KEY }}
