name: Release

on:
  schedule:
    # 2 AM on Sunday
    - cron: "0 2 * * 0"
  workflow_dispatch:

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  isthmus-native-image-mac-linux:
    name: Build Isthmus Native Image
    if: github.repository == 'substrait-io/substrait-java'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: DeLaGuardo/setup-graalvm@5.0
        with:
          graalvm: '22.0.0.2'
          java: 'java17'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Report Java Version
        run: java -version
      - name: Install GraalVM native image
        run: gu install native-image
      - name: Build with Gradle
        run: gradle nativeImage
      - name: Smoke Test
        run: ./isthmus/src/test/script/smoke.sh
          ./isthmus/src/test/script/tpch_smoke.sh
      - name: Rename the artifact to OS-unique name
        shell: bash
        run: |
          value=`mv isthmus/build/graal/isthmus isthmus/build/graal/isthmus-${{ matrix.os }}`
      - name: Publish artifact
        uses: actions/upload-artifact@master
        with:
          name: isthmus-${{ matrix.os }}
          path: isthmus/build/graal/isthmus-${{ matrix.os }}
  semantic-release:
    if: github.repository == 'substrait-io/substrait-java'
    runs-on: ubuntu-latest
    needs: isthmus-native-image-mac-linux
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Download isthmus-ubuntu-latest binary
        uses: actions/download-artifact@v3
        with:
          name: isthmus-ubuntu-latest
          path: native/libs
      - name: Download isthmus-macOS-latest binary
        uses: actions/download-artifact@v3
        with:
          name: isthmus-macOS-latest
          path: native/libs
      - name: Run semantic-release
        run: ./ci/release/run.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
